body{
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(02.jpg) ;
    background-attachment:fixed;
    background-size :100%;
    background-repeat:no-repeat;

    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
}

