html { 
  background: url(02.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
head {
  font-family:Arial, Helvetica, sans-serif;
}
body li{
  color: red;
  font face= Arial color="Green"
}

